[program:webapp]
directory=/webapp/devops
command=/webapp/envs/venv/bin/gunicorn -w {{ ansible_processor_vcpus * 2 + 1 }} --bind 0.0.0.0:{{ app_port }} "app:app"
user=webappowner
autostart=true
autorestart=true
stderr_logfile=/var/log/webapp.err.log
stdout_logfile=/var/log/webapp.out.log
